Flask==3.0.3
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
sqlalchemy-cockroachdb==2.0.2
sqlalchemy-utils==0.41.2
flask-marshmallow==1.2.1
marshmallow_sqlalchemy==1.0.0
webargs==8.2.0
pytest-flask==1.3.0
pytest-mock==3.14.0
Flask-RESTful==0.3.10